* {
}
body {
    background-image: url('imagens/dsm.png');
}
main {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 970px;
}
section {
    background-color: rgba(225, 243, 255, 0.801);
    padding: 5px 10px 10px 20px;
    margin: 20px;
    min-width: 409px;
    font-size: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.562);
}
.titulo {
    text-align: center;
}
.aviso {
    background-color: red;
    color: white;
    padding-left: 15px;
    margin-right: 20px;
}
div {
    display: flex;
    flex-wrap: nowrap;
}
a:hover {
    color: red;
}
p, h2, h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;
    text-align: center;
}
footer {
    background-color: azure;
    padding: 10px;
    margin: 0px;
}