* {

}
body {
    background-image: url('imagens/dsm.png');
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    margin: auto;
    align-items: center;
}
section {
    background-color: rgba(208, 233, 248, 0.699);
    padding: 5px 10px 10px 20px;
    margin: 20px;
    min-width: 409px;
    font-size: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.562);
}
.titulo {
    text-align: center;
}
.aviso {
    background-color: red;
    color: white;
    padding-left: 15px;
    margin-right: 20px;
}
div {
    display: flex;
    flex-wrap: nowrap;
}
a:hover {
    color: red;
}